@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(210, 20%, 98%);
  --foreground: hsl(222, 47%, 11%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(222, 47%, 11%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(222, 47%, 11%);
  --primary: hsl(158, 64%, 24%);
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(215, 16%, 47%);
  --secondary-foreground: hsl(222, 47%, 11%);
  --muted: hsl(216, 12%, 84%);
  --muted-foreground: hsl(215, 16%, 47%);
  --accent: hsl(158, 64%, 52%);
  --accent-foreground: hsl(210, 20%, 98%);
  --destructive: hsl(0, 63%, 31%);
  --destructive-foreground: hsl(210, 20%, 98%);
  --border: hsl(216, 12%, 84%);
  --input: hsl(216, 12%, 84%);
  --ring: hsl(158, 64%, 24%);
  --chart-1: hsl(158, 64%, 52%);
  --chart-2: hsl(208, 100%, 47%);
  --chart-3: hsl(280, 65%, 60%);
  --chart-4: hsl(28, 100%, 53%);
  --chart-5: hsl(340, 75%, 55%);
  --sidebar: hsl(180, 6.6667%, 97.0588%);
  --sidebar-foreground: hsl(210, 25%, 7.8431%);
  --sidebar-primary: hsl(203.8863, 88.2845%, 53.1373%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(211.5789, 51.3514%, 92.7451%);
  --sidebar-accent-foreground: hsl(203.8863, 88.2845%, 53.1373%);
  --sidebar-border: hsl(205.0000, 25.0000%, 90.5882%);
  --sidebar-ring: hsl(202.8169, 89.1213%, 53.1373%);
  --font-sans: "Inter", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 8px;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00), 0px 1px 2px -1px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00), 0px 1px 2px -1px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00), 0px 2px 4px -1px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00), 0px 4px 6px -1px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00), 0px 8px 10px -1px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(224, 71%, 4%);
  --foreground: hsl(213, 31%, 91%);
  --card: hsl(224, 71%, 4%);
  --card-foreground: hsl(213, 31%, 91%);
  --popover: hsl(224, 71%, 4%);
  --popover-foreground: hsl(213, 31%, 91%);
  --primary: hsl(158, 64%, 24%);
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(215, 16%, 25%);
  --secondary-foreground: hsl(213, 31%, 91%);
  --muted: hsl(223, 47%, 11%);
  --muted-foreground: hsl(215.4, 16.3%, 56.9%);
  --accent: hsl(158, 64%, 52%);
  --accent-foreground: hsl(224, 71%, 4%);
  --destructive: hsl(0, 63%, 31%);
  --destructive-foreground: hsl(210, 20%, 98%);
  --border: hsl(223, 47%, 11%);
  --input: hsl(223, 47%, 11%);
  --ring: hsl(158, 64%, 24%);
  --chart-1: hsl(158, 64%, 52%);
  --chart-2: hsl(208, 100%, 47%);
  --chart-3: hsl(280, 65%, 60%);
  --chart-4: hsl(28, 100%, 53%);
  --chart-5: hsl(340, 75%, 55%);
  --sidebar: hsl(228, 9.8039%, 10%);
  --sidebar-foreground: hsl(0, 0%, 85.0980%);
  --sidebar-primary: hsl(202.8169, 89.1213%, 53.1373%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(205.7143, 70%, 7.8431%);
  --sidebar-accent-foreground: hsl(203.7736, 87.6033%, 52.5490%);
  --sidebar-border: hsl(205.7143, 15.7895%, 26.0784%);
  --sidebar-ring: hsl(202.8169, 89.1213%, 53.1373%);
  --font-sans: "Inter", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 8px;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00), 0px 1px 2px -1px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00), 0px 1px 2px -1px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00), 0px 2px 4px -1px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00), 0px 4px 6px -1px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00), 0px 8px 10px -1px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169, 89.1213%, 53.1373%, 0.00);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
